

* html {
    margin: 0;
    padding: 0;
}  /* sets all padding and margins to 0 */

body {
    font-size: 62.5%;
  }


.navdiv {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #202020;
}

li {
    list-style-type: none;  /* removes bullets */
}



.material-icons-outlined {
    color: #75ffff;
    font-size: 3.6em;
}

.narrow {
    max-width: 50vw
}

.blue {
    background-color: blue;
}


.IngredientListDiv {
    display: hidden;
}